[submodule "XiangShan"]
	path = XiangShan
	url = https://github.com/yu-yake2002/XiangShan
[submodule "NEMU"]
	path = NEMU
	url = https://github.com/yu-yake2002/NEMU-Matrix
  branch = master
[submodule "nexus-am"]
	path = nexus-am
	url = https://github.com/yu-yake2002/nexus-am
  branch = master
[submodule "NutShell"]
	path = NutShell
	url = https://github.com/OSCPU/NutShell
	branch = difftest
[submodule "DRAMsim3"]
	path = DRAMsim3
	url = https://github.com/OpenXiangShan/DRAMsim3.git
